/*!
 * WebFrap GUI Toolkit 2
 */
.wgt-cs-l1 {
  background-color: #ecf0f1;
  color: #4D4D4D;
}
.wgt-cs-l2 {
  background-color: #bdc3c7;
  color: #4D4D4D;
}
.wgt-cs-l3 {
  background-color: #95a5a6;
  color: #4D4D4D;
}
